* {
    margin: 0;
    padding: 0;
}

body {
    background-color: hsl(233, 47%, 7%);
}

.card {
    width: 75vw;
    height: 60vh;
    background-color: hsl(244, 38%, 16%);
    margin: 20vh auto;
    color: hsl(0, 0%, 100%);
    border-radius: 10px;
    display: flex;
    flex-direction: row;
}

.left {
    width: 38%;
    padding: 6%;
    position: relative;
}

h1 {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 2rem;
    margin-right: 20%;
}

#insights {
    color: hsl(277, 64%, 61%);
}

.desc {
    color: hsla(0, 0%, 100%, 0.75);
    font-size: 15px;
    font-family: 'Inter', sans-serif;
    margin: 5% 20% 5% 0;
    line-height: 1.5;
}

.stats {
    display: flex;
    flex-direction: row;
    font-family: 'Inter', sans-serif;
    position: absolute;
    bottom: 12%;
}

.stat {
    margin-right: 20%;
    line-height: 1.5;
}

.stat-number {
    font-weight: 700;
    font-size: 20px;
}

.stat-heading {
    font-family: 'Lexend Deca', sans-serif;
    color: hsla(0, 0%, 100%, 0.6);
    font-size: 15px;
}

.img {
    background-image: url(../images/image-header-desktop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
    border-radius: 0 10px 10px 0;
    /* opacity: 0.5; */
    background-color: hsl(277, 64%, 61%);
    background-blend-mode: overlay;
    filter: brightness(0.8);
    /* filter: opacity(50%); */
}

/* .img::after {
    background-color: hsl(277, 64%, 61%);
    opacity: 0.5;
    width: 100%;
    height: 100%;
} */

/* .img-overlay {
    background-color: hsl(277, 64%, 61%);
    width: 100%;
    height: 100%;
} */